<div class="header"></div>
<div class="header-content">
  <div class="elementos">
    <br />
    <div class="row">
      <p>Presupuesto Disponible:</p>
    </div>
    <div class="row">
      <h1>${{presupuesto}}</h1>
    </div>
    <br />
    <div class="row blue">
      <div class="col tl">INGRESOS</div>
      <div class="col tr">${{ingreso}}</div>
    </div>
    <div class="row red">
      <div class="col tl">EGRESOS</div>
      <div class="col tr">${{egreso}}</div>
    </div>
  </div>
</div>
