<div class="container">
  <div class="row">
    <h3>INGRESOS</h3>
  </div>
  <div class="row in" *ngFor="let ingreso of ingresos let i = index">
    <div class="col">
      {{ingreso.nombre}}
    </div>
    <div class="col">
      <div class="percent">
        {{ingreso.valor | currency:'COP':'$':'1.2-2'}} <porcentaje class="porcentaje" [valor]="ingreso.valor"/>
      </div>
    </div>
    <div class="col">
      <button
        class="btn btn-danger"
        (click)="quitarIngreso(i)"
      >Quitar</button>
    </div>
  </div>
</div>
